html {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 8%;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

header h1 {
    padding-top: 1%;
    margin: 0;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333333;
}

nav ul li a {
    display: table-cell;
    color: white;
    text-align: center;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    text-decoration: none;
}

nav ul li p {
    display: table-cell;
    color: grey;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    text-align: center;
}

nav ul li.left {
   float: left;
}

nav ul li{
    height: 100%;
    display: table;
}

nav ul li.right {
    float: right;
}

nav ul li a:hover {
    background-color: #111111;
}

section {
    padding: 0;
    margin: 0;
    height: 82%;
    overflow-y: auto;
}

figure {
    display: block;
}

figure img {
    width: 100%;
    height: 100%;
}

section h2 {
    padding-left: 2%;
}

section div ul {
    padding: 0;
    list-style-type: none;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.center {
    text-align: center;
}


table.cols3 col:nth-child(1){
    width: 50%;
}

table.cols3 col:nth-child(2){
    width: 50%;
}


footer {
    background-color: #333333;
    text-align: center;
    width: 100%;
    height: 5%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

footer p {
    color: white;
}

div#rpgs {
    height: 100%;
    width: 100%;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

div table {
    width: 96%;
    padding: 2%;
}

div#games {
    height: 100%;
    width: 70%;
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

div.error {
    color: red;
    font-weight: bold;
}

div.success {
    color: green;
    font-weight: bold;
}

div#content {
    padding-left: 1%;
}

img.logo {
    width: 100px;
    height: 100px;
}

table#game_table tr td{
    padding: 16px;
}