<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        {% block extra_css %}
            <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
        {% endblock extra_css %}
        {% block extra_js %}
        {% endblock extra_js %}
        {% block extra_head %}
        {% endblock extra_head %}
        <title>{% block title %}Just the base{% endblock title %}</title>
    </head>
    <body>
        <header>
            {% block header %}
                <h1>[Insert header here]</h1>
            {% endblock header %}
        </header>
        <nav>
            {% block nav %}
            <ul>
                <li class="left"><a href="{% url 'main:index' %}">Home</a></li>
                <li class="left"><a href="{% url 'main:games' %}">Games</a></li>
                {% if user.is_authenticated %}
                    <li class="left"><a href="{% url 'mail:invite_game' %}">Invite Game</a></li>
                    <li class="left"><a href="{% url 'main:new_game' %}">New Game</a></li>
                    <li class="right"><a href="{% url 'main:logout' %}">Logout</a></li>
                    <li class="right"><p>Logged in as {{ user.username }}</p></li>
                    <li class="right"><a href="{% url 'mail:send' %}">Send Message</a></li>
                    <li class="right"><a href="{% url 'mail:invite' %}">Game Invites</a></li>
                {% else %}
                    <li class="right"><a href="{% url 'main:login' %}">Login</a></li>
                    <li class="right"><a href="{% url 'main:register' %}">Register</a></li>
                {% endif %}
            </ul>
            {% endblock nav %}
        </nav>
        <section>
            {% block section %}
                [Insert section content here]
            {% endblock section %}
        </section>
        <footer>
            {% block footer %}
            <p>
                RPG Manager by Jesualdo Garc&iacute;a L&oacute;pez.
            </p>
            {% endblock footer %}
        </footer>
    </body>
</html>
