{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}{{ game.name }{% endblock title %}

{% block header %}
    <h1>Game Properties</h1>
{% endblock header %}

{% block section %}
    <h2>{{ game.name }}</h2>
    <div>
        <div class="left">
            <div id="game_properties">
                <h3>Properties</h3>
                <img src="{{ MEDIA_URL }}main/{{ rpg.img }}" alt="{{ rpg.img }}">
                <tr>
                    <td><bold>Name</bold></td>
                    <td>{{ game.name }}</td>
                </tr>
                <tr>
                    <td><bold>RPG</bold></td>
                    <td>{{ rpg.name }}</td>
                </tr>
                <tr>
                    <td><bold>Owner</bold></td>
                    <td>{{ owner.name }}</td>
                </tr>
                <p>
                   {{ game.desc }}
                </p>
            </div>
            <div id="game_management">

            </div>
        </div>
        <div id="game_players">

        </div>
    </div>
{% endblock section %}