{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Games{% endblock title %}

{% block header %}
    <h1>Games</h1>
{% endblock header %}

{% block section %}
    <h2>Games</h2>
    <table id="game_table">
        <tr>
            <th>Image</th>
            <th>RPG Name</th>
            <th>Game Name</th>
            <th>Owner</th>
            <th>Next Date</th>
            <th>Description</th>
        </tr>
        {% for game in games %}
            <tr>
                <td class="center">
                    <img src="{{ MEDIA_URL }}main/{{ game.rpg__simg }}"
                         alt="{{ game.rpg__simg }}"
                         class="logo">
                </td>
                <td class="center">{{ game.rpg__name }}</td>
                <td><a href="{% url 'main:games' game.pk %}">{{ game.name }}</a></td>
                <td>{{ game.user__username }}</td>
                <td>{{ game.next_date }}</td>
                <td>{{ game.desc }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock section %}