{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock title %}

{% block header %}<h1>Home</h1>{% endblock header %}

{% block section %}
    <div id="rpgs">
        <h2>RPGs</h2>
        <table>
            {% for rpg in rpgs %}
            <tr>
                <td>
                    <figure>
                        <img src="{{ MEDIA_URL }}main/{{ rpg.img }}"
                                 alt="{{ rpg.img }}">
                       <figcaption class="center">{{ rpg.name }}</figcaption>
                    </figure>
                </td>
                <td>
                    <p>{{ rpg.desc|linebreaks }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock section %}