{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Game Invites{% endblock title %}

{% block header %}<h1>Game Invites</h1>{% endblock header %}

{% block section %}
    <div id="content">
        <ul>
            {% for invite in invites%}
            <li>
                <form id="send_form" method="post" action="{% url 'mail:invite' %}">
                    {% csrf_token %}
                    <p>
                        The user {{ invite.user_from__username }} has invited you to play
                        {{ invite.game__game__name }} on {{ invite.date }}
                    </p>
                    <input type="hidden" name="game" value="{{ invite.pk }}" />
                    <input type="submit" name="invite_accept" value="Accept" />
                    <input type="submit" name="invite_refuse" value="Refuse" />
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock section %}