{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Invite Game{% endblock title %}

{% block header %}
    <h1>Invite Game</h1>
{% endblock header %}

{% block section %}
    <div id="content">
        <form id="invite_form" method="post" action="{% url 'mail:invite_game' %}">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% for field in form %}
            <div class="error">
                {{ field.errors }}
            </div>
            {% endfor %}

            {{ invite_form.as_p }}

            {% if msg_success %}
            <div class="success">
                <ul><li>{{ msg_success }}</li></ul>
            </div>
            {% endif %}
            <input type="submit" value="Invite" />
        </form>
    </div>
{% endblock section %}
