{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock title %}

{% block header %}
    <h1>User Login</h1>
{% endblock header %}

{% block section %}
    <div id="content">
        <form id="login_form" method="post" action="login">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login" />
        </form>
    </div>
{% endblock section %}
