{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}New Game{% endblock title %}

{% block header %}<h1>New Game</h1>{% endblock header %}

{% block section %}
    <div id="content">
        <form id="newgame_form" method="post" action="{% url 'main:new_game' %}">
            {% csrf_token %}
            {% if integrity_error %}
            <div class="error">
                <ul><li>{{ integrity_error }}</li></ul>
            </div>
            {% endif %}
            {{ newgame_form.as_p }}
            <input type="submit" value="Create">
        </form>
    </div>
{% endblock section %}