{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock title %}

{% block header %}
    <h1>User Registration</h1>
{% endblock header %}

{% block section %}
    <div id="content">
        <form id="register_forms" method="post" action="register">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ user_profile_form.as_p }}
            <input type="submit" value="Register" />
        </form>
    </div>
{% endblock section %}