{% extends 'functs/main/base.html' %}
{% load staticfiles %}

{% block title %}Send Message{% endblock title %}

{% block header %}<h1>Send Message</h1>{% endblock header %}

{% block section %}
    <div id="content">
        <form id="send_form" method="post" action="{% url 'mail:send' %}">
            {% csrf_token %}
            {{ send_form.as_p }}
            <input type="submit" value="Send" />
            <input type="reset" value="Clear" />
        </form>
    </div>
{% endblock section %}